$width: 600px;
$breakpoint: 640px;
$font: Lato, sans-serif;
$color-green: #29bcbc;
$color-lightgray: #f5f5f5;
$color-darkgray: #666666;
$color-lightergray: #566375;
$color-darkgreen: #1e555d;
$color-white: #ffffff;
$color-orange: #ffa800;
$default-top-bottom-padding: 8px;